.toolbar-menu-administration .toolbar-menu .menu-item .toolbar-icon-anvil-toolkit-jsonapi-next-dashboard::before {
  mask-image: url("/modules/anvil/anvil_toolkit/modules/anvil_toolkit_jsonapi_next/assets/next.svg");
  -webkit-mask-image: url("/modules/anvil/anvil_toolkit/modules/anvil_toolkit_jsonapi_next/assets/next.svg");
}