{#
/**
 * @file
 *
 * Available variables:
 * - channels: A list of configured Social media channels.
 *   - type: The type of channel ( e.g. facebook, twitter, .. ).
 *   - name: The name of the channel.
 *   - url: The URL to the configured channel.
 *   - title: The title of the channel.
 *   - icon_path: icon path.
 */
#}
{% if channels %}
  <ul>
    {% for channel in channels %}
      <li>
        {% if channel.icon_path %}
          <a target="_blank" class="{{ channel.type }}" title="{{ channel.name }}" href="{{ channel.url }}">
              <img src="{{ channel.icon_path }}" alt="{{ channel.title }}">
          </a>
        {% else %}
          <a target="_blank" class="{{ channel.type }}" title="{{ channel.name }}" href="{{ channel.url }}">{{ channel.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
